* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


  body {
    border: 0;
    padding: 0;
}


.calculator {
    margin-left: 30px;
    margin-top: 30px;
    background-color: #e6e6e6;
    width: 450px;
    height: 750px;
    padding: 5px;

    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 25px 40px 90px 30px repeat(7,auto) ;

    .title {
        grid-column-start: 1;
        grid-column-end: 3;
        align-content: center;
        color: grey;
        margin-left: 10px;
    }


    .icons {
        grid-column-start: 3;
        grid-column-end: 6;

        color: grey;

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 20px;
        justify-content: end;

        .topIcon {
            width: 60px;
            height: auto;
            text-align: center;
            align-content: center;
        }

        .topIcon:hover{
            background-color: rgb(219, 219, 219);
            cursor: pointer;
    }
    }




    span {
        font-size: 16px;
    }

    .standard {
        grid-column-start: 1;
        grid-column-end: 3;
        align-items: center;

        display: flex;
        justify-content: space-around;
        color: grey;
        font-size: 20px;
        color: black;
    }

    .history {
        grid-column-start: 3;
        grid-column-end: 6;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        span{
            font-size: 22px;
        }
    }

    .result {
        grid-column-start: 1;
        grid-column-end: 6;
        align-content: center;
        p {
            font-size: 40px;
            margin: 0;
            text-align: end;
            margin-right: 20px;
            margin-top: 5px;
        }
    }


    .firstline {
        grid-column-start: 1;
        grid-column-end: 6;

        display: grid;
        grid-template-columns: repeat(6,16%);
        grid-template-rows: auto;
        justify-content: space-around;
        text-align: center;
        align-content: center;



        .inactive {
            color: grey;
        }
        .active:hover{
            background-color: rgb(219, 219, 219);
            cursor: pointer;
        }
    }
    

    .secondline {


        img {
            height: 20px;
        }

        grid-column-start: 1;
        grid-column-end: 6;

        display: grid;
        grid-template-columns: repeat(2,35%);
        grid-template-rows: auto;
        justify-content: flex-start;
        text-align: center;
        align-content: center;

        padding-top: 0;
        margin-top: 0;


    }


    .grid-item{
        background-color: #f0f0f0;
        text-align: center;
        align-content: center;

    }

    .number {
        background-color: #fafafa;
        font-weight: 700;
    }


    .equal {
        background-color: cyan;
    }

    .italic {
        font-style: italic;
    }

    .grid-item:hover{
        background-color: #ffffff;
        cursor: pointer;
    }
}



